{% extends "students/index.html" %}

{% block content %}
  <h2>Discussions</h2>
  <div class="existing-discussions">
    {% for discussion in discussions %}
      <div class="discussion text-center" style="border: 2px solid black; border-radius: 15px; background-color: rgb(66, 66, 66); width: 600px;">
        <h3>{{ discussion.subject }}</h3>
        <p>{{ discussion.message }}</p>
        
        {% if discussion.file %}
          <a href="{{ discussion.file.url }}" class="btn btn-success" download>Download File</a>
        {% endif %}
      </div>
      <br>
    {% empty %}
      <p>No discussions available.</p>
    {% endfor %}
  </div>
{% endblock %}
