{% extends "students/index.html" %}

{% block content %}
    <div id="search">
        
        {% if quizzes %}
            {% for quiz in quizzes %}
                <div class="links">
                    <a href="{% url 'students:grades' %}"><h1 style="color: black">{{ quiz.title }}</h1></a>
                </div>
            {% endfor %}
        {% endif %}
        
        {% if discussions %}
            {% for message in discussions %}
                <div class="links">
                    <a href="{% url 'students:discussions' %}"><h1 style="color: black">{{ message.subject }}</h1></a>
                </div>
            {% endfor %}
        {% endif %}
        
        {% if not classes and not quizzes and not discussions %}
            <span id="noresult">No Results for '{{ subject }}'</span>
        {% endif %}
    </div>
{% endblock %}
